@import url(https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,400;1,500&display=swap);

body {
  font-family: "Raleway", sans-serif !important;
  background: linear-gradient(to right, #f57299, #fab0c5);
}

/*nav*/

.bg-salmon {
  background: linear-gradient(to right, #fc8fb0, #fab0c5);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

#navmenu li a {
  color: rgba(255, 255, 255, 0.863);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  text-shadow: 10px 10px 10px #422b2b;
  font-weight: 500;
}

/*index*/

.principal {
  color: rgb(19, 95, 121);
  font-style: italic;
  font-weight: 600 !important;
}

.principal2 {
  display: inline-block;
  color: black !important;
  font-weight: 400 !important;
}

/*gallery*/

#gallery img {
  width: 100%;
  height: 250px;
  margin: 10px;
  border-radius: 10px;
  border: 5px solid rgb(0, 0, 0);
  align-self: stretch;
}

/*mercs*/

#cards img {
  width: 100%;
  height: 250px;
}

#cards .card {
  margin: 10px;
  background: #eca2a2;
}
