.slidetoright {
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 45%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.5);
}
