body {
  font-family: "Raleway", sans-serif !important;
  background: linear-gradient(to right, #f57299, #fab0c5);
}

.principal {
  color: rgb(19, 95, 121);
}

/*Header*/

.bg-salmon {
  background: linear-gradient(to right, #fc8fb0, #fab0c5);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

#navmenu li a {
  color: rgba(255, 255, 255, 0.863);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.75rem;
  text-shadow: 10px 10px 10px #422b2b;
  font-weight: 500;
}
