body {
  font-family: "Raleway", sans-serif !important;
  background: linear-gradient(to right, #f57299, #fab0c5);
}

.principal {
  color: rgb(19, 95, 121);
  font-style: italic;
  font-weight: 600 !important;
}

.principal2 {
  display: inline-block;
  color: black !important;
  font-weight: 400 !important;
}
